* {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
}

.container {
    width: 960px;
    height: auto;
    margin: 0 auto;
}

.container-navigation {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #4E4E4E;
    font-size: 18px;
    color: #FFFFFF;

}

.container-my-company {
    font-weight: 700;
}

.link-lists {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-align: right;
    font-weight: 400;
}


.container-my-company, .container-links {
    width: 50%;
}










.for-all {
    width: 960px;
    margin: 0 auto;
}

.img-and-shadow {
    display: flex;
    display: block;
    justify-content: center;
    flex-items: flex-start;
    position: relative;
    /* z-index: 1; */
    
}

/* .img-and-shadow, .text-and-rectangle {
    height: 50%;
} */

.img_forest {
    width: 960px;
    min-height: 574px;
    background-image: url("image_forest-min.png");
    /* margin: 0 auto; */
    
    
}

.text-and-rectangle {
position: absolute;
top: 50%;
/* width: 100%; */
left: 236px;
display: flex;
flex-direction: column;
/* justify-content: center;
align-items: center; */
/* text-align: left; */
color: #FFFFFF;
/* margin: 0 auto; */
/* font-size: 3rem; */


    /* display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2; */
    /* margin: 0 auto; */
    /* text-align: left; */
}

/* .text-and-rectangle {
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
      
} */

.long-text {
    font-weight: 700;
    font-size: 36px;
 
}

.short-text {
    font-weight: 700;
    font-size: 18px;

}

.text_in_the_rectangle {
    width: 80px;
    height: auto;
    text-align: center;
    /* padding: 15px;
    display: table-cell;
    vertical-align: middle; */
    font-weight: 700;
    font-size: 18px;
    border: 3px solid #FFFFFF;


}

/* .rectangle {
    border: 3px solid #FFFFFF;

} */




.container-experts {
    max-width: 1280px;
    max-width: 2000px;
    background-color: #F1F1F1;
}

.main-text-experts {
    font-weight: 700;
    font-size: 36px;
    color: #152D41;
}

.first-expert, .second-expert {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.first-circle, .second-circle {
    width: 221px;
    height: 221px;
    border-radius: 50%;
    
}

.name-first-expert, .name-second-expert {
    font-weight: bold;
}

.first-circle {
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
}

.second-circle {
    border: 1px solid #907D7D;
    background-color: #907D7D;  
  }


.fist-line {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-rows: 33% 60%;
    grid-gap: 1%;
}

.second-line {
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-rows: 66% 33%;
    grid-gap: 1%;
}






.about-company {
    background-color: #405D78;
    height: 689px;
}

.main-text-about-company {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
}


.container-of-company-boxes {
    display: grid;
    grid-template-columns: 198px 198px 198px;
    grid-template-rows: 193.78px 193.78px;
    grid-gap: 10px;
    justify-content: center;
    /* line-height: 50%; */
    /* place-items: center; */

}

.box1, .box2, .box3, .box4, .box5, .box6 {
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    width: 198px;
    height: 193.78px;
    font-size: 18px;
    font-weight: 400;
}


.small-circle {
    width: 22px;
    height: 22px;
    border: 1px solid #E07A64;
    background-color: #E07A64;
    border-radius: 50%;
}







.footer {
    height: 71px;
    background-color: #4E4E4E;
}

.text-in-footer {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}