* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* NAVIGATION SECTION */

.navigation {
  background-color: #4e4e4e;
}

.container-navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
}

.container-my-company,
.container-links {
  width: 50%;
}

.container-my-company {
  font-weight: 700;
  font-size: 18px;
}

.link-lists {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: right;
  font-weight: 400;
}

.link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.disabled {
  cursor: not-allowed;
}

/* FOREST SECTION */

.img-forest {
  min-height: 574px;
  background-image: url("images/image-forest-min.png");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 auto;
}

.shadow {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
}

.img-text-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.text-and-rectangle {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.long-text {
  font-weight: 700;
  font-size: 36px;
  padding: 0 0 20px;
}

.short-text {
  font-weight: 700;
  font-size: 18px;
  padding: 0 0 20px;
}

.text-in-the-rectangle {
  width: 80px;
  height: auto;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  border: 3px solid #ffffff;
  padding: 10px;
}

.text-in-the-rectangle:hover {
  background-color: #ffffff;
  color: #000000;
}

/* EXPERT SECTION */

.about-us-container {
  background-color: #f1f1f1;
  padding-bottom: 20px;
}

.main-text-experts {
  font-weight: 700;
  font-size: 36px;
  color: #152d41;
  padding: 20px 0;
}

.about-experts {
  display: flex;
  align-items: center;
}

.about-experts:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.expert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.first-expert {
  margin-left: 20px;
}

.second-expert {
  margin-right: 20px;
}

.circle {
  min-width: 221px;
  height: 221px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
}

.first-circle {
  background-image: url("images/img-woman.jpg");
}

.second-circle {
  background-image: url("images/img-man.jpg");
}

.name-expert {
  font-weight: bold;
}

/* ABOUT COMPANY SECTION */

.about-company {
  background-color: #405d78;
  height: auto;
  padding: 20px 0;
}

.main-text-about-company {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.container-of-company-boxes {
  display: grid;
  grid-template-columns: 198px 198px 198px;
  grid-template-rows: 193.78px 193.78px;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  width: 198px;
  height: 193.78px;
  font-size: 18px;
  font-weight: 400;
}

.box1 {
  position: relative;
}

.small-circle {
  width: 22px;
  height: 22px;
  border: 1px solid #e07a64;
  background-color: #e07a64;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: -11px;
}

.box:hover {
  animation-name: grow;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

/* FOOTER SECTION */

.footer {
  height: 71px;
  background-color: #4e4e4e;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.text-in-footer {
  color: #ffffff;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}

.container-of-text-in-footer {
  width: 95%;
}

.container-of-icons {
  width: 5%;
}

.container-of-icons {
  display: flex;
  justify-content: space-between;
}

.socialmedia-icon {
  min-width: 31px;
  height: auto;
  color: #ffffff;
}
